* {
    /* font-weight:   */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Rubik', sans-serif;
    background-color: #f5f7f8;
}

body.fixed {
    height: 100vh;
    overflow: hidden;
    counter-set: my-sec-counter;
}

.row {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.link:link,
.link:visited {
    display: block;
    text-decoration: none;
    color: #ED1C25;
    font-size: .75rem;
    white-space: nowrap;
    text-align: left;
}

.gen__text {
    font-size: 1rem;
    font-family: Lato, sans-serif;
    line-height: 1.7rem;
    color: #42474c;
    font-weight: 300;
    padding-bottom: 32px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.2;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.23em;
    text-align: inherit;
    text-transform: uppercase;
    color: #42474c;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
    padding: 4px 15px 4px 8px;
    overflow-x: hidden;
    z-index: 2;
    &--grey {
        color: #fff;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: skewX(18deg);
        transform-origin: 0px 100% 0px;
        background-color: #f5f7f8;
    }
    &--white::before {
        background-color: #ffffff;
    }
    &--grey::before {
        background-color: #42474c;
    }
    &__sub {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.8rem;
        padding: 43px 0 30px 0;
        color: #262d36;
        font-family: poppins, sans-serif;
        &--smaller {
            font-weight: 600;
            color: #262d36;
            font-size: 1.6rem;
            line-height: normal;
            font-family: poppins, sans-serif;
        }
    }
    &--grey--lighter::before {
        background-color: rgba(245, 247, 248, 0.2);
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }
    .link:link span img,
    .link:visited span img {
        width: 30px;
    }
}

@media only screen and (min-width: 920px) {
    html {
        font-size: 16px;
    }
    .link:link span img,
    .link:visited span img {
        width: 35px;
    }
}

@media only screen and (min-width: 1440px) {
    .row {
        width: 1170px;
    }
    .row--added {
        width: 1440px;
    }
}