.about-section {
    background: #444c5c;
    padding: 80px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    &__item {
        width: 100%;
    }
    &__item:nth-child(2) {
        padding-bottom: 32px;
        order: -1;
    }
    .title__sub {
        color: #fff;
    }
    p {
        color: #fff;
    }
    &__title {
        text-transform: capitalize;
        padding: 0;
        padding-bottom: 20px;
        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 80px;
            background-color: rgb(214, 214, 214);
            margin-top: 24px;
        }
    }
    &__img {
        width: 100%;
        border-radius: 6px;
        box-shadow: 30px 30px 51px 0px rgba(0, 0, 0, 0.34);
    }
}

@media only screen and (min-width: 760px) {
    .about-section__container {
        flex-direction: row;
    }
    .about-section__item {
        width: 48%;
    }
    .about-section__item:nth-child(2) {
        padding-bottom: 0;
        order: 2;
    }
}