.about-detail {
    column-count: 1;
    column-gap: unset;
    p {
        font-size: 1rem;
        font-family: Lato, sans-serif;
        line-height: 1.7rem;
        color: #42474c;
        font-weight: 300;
        padding-bottom: 32px;
    }
    &__section {
        background: #fff;
        padding: 80px 0;
    }
    &__title {
        text-transform: capitalize;
        padding: 0;
        padding-bottom: 20px;
        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 80px;
            background: rgb(214, 214, 214);
            ;
            margin-top: 24px;
        }
    }
}

@media only screen and (min-width: 760px) {
    .about-detail {
        column-count: 2;
        column-gap: 5%;
    }
}