.btn{
    padding: 15px 30px;
    border: 1px solid #000000;
    position: relative;
    color: #f00;
    font-size: 1.1875rem;
    border-radius: 19px;

    &:link, &:visited{
        text-decoration: none;
        text-transform: uppercase;
        color: #ff0000;
        position: relative;
        display: inline-block;
    }

    &:link:hover{
        span{
            margin-left: 32px;
        }
    }

    span{
        margin-left: 22px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        transition: margin .2s ease-in-out;
    }
}