.btn {
    padding: 15px 35px;
    border: 1px solid #e53b24;
    position: relative;
    color: #fff;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    font-size: .7rem;
    border-radius: 4px;
    background-color: #e53b24;
    transition: all .3s linear;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        display: inline-block;
        white-space: nowrap;
    }
    &--outlined:link,
    &--outlined:visited {
        background-color: transparent;
        border: 1px solid #444c5c;
        color: #444c5c;
        padding: 15px 35px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &:link:hover,
    &--outlined:hover {
        background: #e53b24;
        color: #ffffff;
        border-color: #e53b24;
    }
}