.card {
    background-color: #ffffff;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 100%;
    padding: 60px 50px;
    padding-bottom: 90px;
    overflow: hidden;
    margin-right: 0%;
    margin-bottom: 30px;
    position: relative;
    transition: all .3s linear;
    .fa {
        padding-bottom: 22px;
        font-size: 3.6rem;
        color: #ffffff;
        position: relative;
        z-index: 1;
        font-weight: 300;
    }
    .overlay--first {
        background-image: linear-gradient(to top, rgba(229, 59, 36, 0.9), rgba(68, 76, 92, 0.5)), url(../../assets/images/onlinee.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .overlay--second {
        background-image: linear-gradient(to top, rgba(229, 59, 36, 0.9), rgba(68, 76, 92, 0.5)), url(../../assets/images/retail.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .overlay--third {
        background-image: linear-gradient(to top, rgba(229, 59, 36, 0.9), rgba(68, 76, 92, 0.5)), url(../../assets/images/city.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .overlay {
        position: absolute;
        top: 0%;
        left: 0;
        height: 100%;
        z-index: 0;
        width: 100%;
        transition: all .3s ease-in-out;
    }
    &:hover {
        .fa {
            color: #262d36;
        }
        .card__link {
            color: #e53b24;
        }
        .card__text {
            color: #243238;
        }
        .card__title {
            color: #262d36;
            &::after {
                background-color: #d7dce1
            }
            span {
                color: #d7dce1;
            }
        }
        .overlay {
            top: -100%;
        }
    }
    &__link {
        color: #fff;
    }
    span {
        color: #fff;
        margin-right: 3px;
    }
    .link:link,
    .link:visited {
        position: absolute;
        bottom: 50px;
        left: 50px;
        font-family: lato, sans-serif;
    }
    &__inner-container {
        position: relative;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        padding-top: 24px;
        flex-wrap: wrap;
    }
    &__container {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 100%;
    }
    &__title {
        font-size: 1.1rem;
        font-family: Poppins, sans-serif;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 16px;
        line-height: 1.4rem;
        font-weight: 600;
        &::after {
            content: "";
            height: 1px;
            width: 100px;
            display: block;
            background-color: #fff;
            margin-top: 20px;
        }
    }
    &__text {
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
        line-height: 1.7rem;
        font-family: Lato, sans-serif;
        position: relative;
        z-index: 1;
    }
    &__icon {
        padding-bottom: 22px;
        height: 80px
    }
    &__link {
        padding-top: 16px;
    }
    &__bg {
        height: 477px;
        width: 40%;
        background: #fcf4a370;
        border-radius: 43px;
        position: relative;
        display: none;
        div {
            border: 1px solid #000;
            background: transparent;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 5%;
            left: 5%;
            border-radius: 43px;
        }
    }
}

@media only screen and (min-width: 620px) {
    .card {
        width: 48%;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 31.5%;
        margin-bottom: 0;
    }
    .card__bg {
        display: block;
    }
    .card__inner-container {
        flex-wrap: nowrap;
    }
}