.contact-form {
    width: 100%;
    float: left;
    &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(151, 151, 151, 0.7);
        padding: 0 0 8px 0;
        background: transparent;
    }
    &__sub {
        padding: 0;
        color: #262d36;
        font-weight: 500;
        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 80px;
            background: rgb(214, 214, 214);
            opacity: .5;
            margin-top: 18px;
        }
    }
    &--msg {
        resize: none;
    }
    &__inner-container {
        position: relative;
        margin-top: 40px;
        .contact-form__label {
            position: absolute;
            top: -3px;
            left: 0;
            cursor: text;
            font-family: Lato, sans-serif;
            font-size: 1.2rem;
            color: #979797;
            font-weight: 300;
            transition: all .3s;
            &--keep {
                top: -26px;
                color: #ED1C25;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
    &__input:focus {
        outline: none;
        border-bottom: 1.5px solid #FB5A1E;
        &~.contact-form__label {
            top: -26px;
            color: #ED1C25;
            font-size: 1rem;
            font-weight: 500;
        }
    }
    &__input-container {
        /* padding: 16px 0px; */
    }
    &__title {
        text-align: center;
        color: #e53b24;
        font-weight: 600;
        /* padding-bottom: 16px; */
    }
    &__submit {
        padding: 14px 20px;
        text-align: center;
        letter-spacing: .13rem;
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        font-size: .9rem;
        border-radius: 4px;
    }
}