.container {
    width: 100%;
    &__padded {
        padding: 100px 0 150px;
    }
    &__gradient {
        background: linear-gradient(180deg, #FFFEFE 0%, rgba(247, 248, 250, 0) 100%);
        padding: 90px 0;
    }
    &__white {
        background: #ffffff;
        padding: 80px 0;
        width: 100%;
    }
}