.footer {
    &__link{
        color: #fff;
        text-decoration: none;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 42px 0 31px 0;
        h2 {
            padding: 0;
            padding-bottom: 12px;
            font-size: 1.9rem;
        }
    }
    &__text {
        margin: 0;
        padding: 0;
        font-size: .9rem;
        font-family: Rubik, sans-serif;
        font-weight: 300;
        line-height: 1.8rem;
        padding-bottom: 24px;
    }
    &__upper-text {
        width: 100%;
    }
    form {
        display: block;
        position: relative;
        width: 100%;
        .form__inner {
            box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.09);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                width: 70%;
                border-radius: 4px 0 0 4px;
                padding: 15px 20px;
                border: 1px solid #ffffff;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 1.5;
                font-family: Lato, sans-serif;
                letter-spacing: 0em;
                text-align: inherit;
                text-transform: none;
                color: #42474c;
                &:focus {
                    outline: none;
                    border: 1px solid #e53b24;
                }
            }
            button {
                width: 30%;
                padding: 20px 25px;
                border-radius: 0 4px 4px 0;
                border: 1px solid #ee5b24;
                background-color: #e53b24;
                color: #ffffff;
                font-size: .7rem;
                font-family: poppins, sans-serif;
                letter-spacing: .2rem;
                font-weight: 700;
                cursor: pointer;
                text-align: center;
            }
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 60px 0 0 0;
        flex-wrap: wrap;
    }
    &__lower-container {
        background: #444c5c;
    }
    &__item {
        width: 100%;
        padding-bottom: 32px;
        span {
            display: block;
            padding-bottom: 12px;
            color: #ffffff;
            font-size: .9rem;
            font-weight: 300;
            line-height: 1.5rem;
        }
    }
    &__title {
        letter-spacing: .2rem;
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        color: #969da1;
        font-size: 1rem;
        padding-bottom: 28px;
    }
    &__copy {
        text-align: left;
        background: #444c5c;
        color: #ffffff;
        font-size: .8rem;
        font-weight: 300;
        div {
            border-top: 1px solid #ccc;
            padding: 30px 0 33px 0;
        }
    }
}

@media only screen and (min-width: 540px) {
    .footer__item {
        width: 48%;
    }
}

@media only screen and (min-width: 730px) {
    .footer__container {
        flex-direction: row;
    }
    .footer form {
        width: 55%;
    }
    .footer__upper-text {
        width: 40%;
    }
    .form__inner button {
        width: 30%;
    }
    .footer__icon {
        font-size: 1.4rem;
        text-decoration: none;
        color: #fff;
        margin-right: 8px;
        &:hover {
            color: #e53b24;
        }
    }
}

@media only screen and (min-width: 980px) {
    .footer__item {
        width: 23%;
        line-height: normal;
    }
}

@media only screen and (min-width: 1100px) {
    .footer__upper-text {
        width: 47%;
    }
    .footer form {
        width: 47%;
    }
}