.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;
    &>div {
        width: 100%;
        &:last-child {
            text-align: right;
            display: none;
        }
        &:first-child {
            padding-right: 0;
        }
    }
    &__title {
        font-size: 4rem;
        letter-spacing: .2rem;
        color: #154360;
        font-weight: 700;
        padding-bottom: 20px;
        /* white-space: nowrap; */
        font-style: italic;
    }
    &__txt {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 150.4%;
        color: #333;
        padding-bottom: 30px;
    }
    &__img {
        width: 100%;
    }
}

@media only screen and (min-width: 1100px) {
    .header-content>div:last-child {
        display: initial;
    }
    .header-content>div:nth-child(1) {
        width: 60%;
        padding-right: 4%
    }
    .header-content>div:nth-child(2) {
        width: 40%;
    }
}