@media only screen and (min-width: 1100px) {
    .header__slider__inner.first {
        background: white;
    }
    .header__slider__inner.second {
        background: white;
    }
    .header__slider__inner.third {
        background: white;
    }
    .header .header__slider__inner {
        background: white;
    }
}

.header__slider__inner.fourth {
    background: url(../../assets/images/heroo.jpg);
    background-position: top center;
    background-size: cover;
}

.header__slider__inner.fifth {
    background: url(../../assets/images/heroo-two.jpg);
    background-position: top center;
    background-size: cover;
}

.header__slider__inner.sixth {
    background: url(../../assets/images/herooo.jpg);
    background-position: top center;
    background-size: cover;
}

@media only screen and (max-width: 780px) {
    .header__slider__inner.fourth {
        background: url(../../assets/images/heroo.jpg);
        background-position: top right;
        background-size: cover;
    }
    .header__slider__inner.fifth {
        background: url(../../assets/images/heroo-two.jpg);
        background-position: top right;
        background-size: cover;
    }
    .header__slider__inner.sixth {
        background: url(../../assets/images/herooo.jpg);
        background-position: top right;
        background-size: cover;
    }
}