.menu{
    height: 100px;
    position: relative;

    &__inner{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__link:link, &__link:visited{
        text-decoration: none;
        color: #FF0000;
        margin-left: 60px;
        position: relative;
    }

    &__link--active:link, &__link--active:visited{
        color: #000000;
    }

    &__link--active:link::after{
        display: block;
        content: "";
        height: 1.5px;
        width: 120%;
        background: #000;
        position: absolute;
        top: 50%;
        left: calc(100% - 55px);
    }
    
}