.modal {
    position: fixed;
    top: 0%;
    height: 0px;
    left: 0%;
    padding: 10% 0;
    background: rgba(0, 0, 0, .7);
    width: 0%;
    overflow: hidden;
    z-index: 9;
    .link:link,
    .link:visited {
        display: inline-block;
        margin-bottom: 20px;
    }
    &--open {
        height: 100vh;
        overflow: auto;
        width: 100%;
    }
    &__body {
        background: #FFFFFF;
        box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.11);
        border-radius: 6px;
        vertical-align: middle;
        height: 0;
        transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1.0);
        margin: 0 auto;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: -7;
        &.show {
            transform: scale(1);
            position: relative;
            z-index: 1;
            width: 85%;
            padding: 30px;
            height: auto;
            opacity: 1;
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.44);
        padding-bottom: 15px;
    }
    &__title {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .07rem;
        font-family: Poppins, sans-serif;
        line-height: 2rem;
        color: #42474c;
    }
    &__close-btn {
        position: relative;
        background: #ED1C25;
        min-height: 24px;
        min-width: 24px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
        }
    }
    &__content {
        padding: 25px 0;
    }
    &__text {
        font-style: normal;
        font-family: Lato, sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 145.4%;
        color: #000000;
        padding-bottom: 25px;
    }
    .product__title {
        margin: 0;
        padding: 0;
        height: auto;
    }
}

@media only screen and (min-width: 860px) {
    .modal__body.show {
        width: 800px;
    }
    .modal__close-btn {
        width: 32px;
        height: 32px;
    }
    .mobile-menu__link:link,
    .mobile-menu__link:visited {
        margin-bottom: 35px;
    }
}

@media only screen and (min-width: 760px) {
    .mobile-menu__link:link,
    .mobile-menu__link:visited {
        margin-bottom: 35px;
    }
}