.paper {
    background: transparent;
    width: 100%;
    border-radius: 4px 4px 7px 7px;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    line-height: 1.6rem;
    letter-spacing: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: poppins, sans-serif;
    margin-bottom: 40px;
    position: relative;
    height: 100%;
    color: #42474c;
    img {
        width: 48px;
        margin-right: 0%;
    }
    span {
        color: #42474c;
        font-weight: 300;
        font-size: 1.5rem;
        display: block;
        padding-top: 4px;
        text-transform: lowercase;
        text-align: center;
        word-spacing: .01rem;
        & span {
            font-size: 1.9rem;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0 20px 0;
        flex-wrap: wrap;
        position: relative;
    }
    &__section {
        background-color: #f5f7f8;
        padding: 34px 0;
    }
}

@media only screen and (min-width: 440px) {
    .paper {
        width: 48%;
        flex-direction: row;
        align-items: flex-start;
        text-align: unset;
    }
    .paper span {
        text-align: left;
    }
    .paper img {
        margin-right: 7%!important;
    }
}

@media only screen and (min-width: 1180px) {
    .paper {
        width: 23%;
        margin-bottom: 20px;
    }
}