.product {
    width: 100%;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.04);
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 6px;
    margin-bottom: 40px;
    margin-right: 0;
    &s {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-family: poppins, sans-serif;
        line-height: 1.9rem;
        font-size: 1rem;
        padding-bottom: 10px;
        letter-spacing: .08rem;
        color: #262d36;
    }
    &__details {
        font-family: lato, sans-serif;
        line-height: 1.7rem;
        font-size: 1rem;
        font-weight: 300;
    }
    &__link {
        font-style: italic;
        color: #e53b24;
        text-decoration: none;
        font-weight: bold;
        white-space: nowrap;
        &:hover {
            border-bottom: 1px solid #e53b24;
        }
    }
    .btn {
        padding: 12px 25px;
    }
    &__section {
        padding: 70px 0;
        &--inner {
            margin-bottom: 30px;
        }
        .title {
            margin-bottom: 27px;
        }
    }
}

@media only screen and (min-width: 600px) {
    .product {
        width: 48%;
        margin-right: 4%;
    }
    .product:nth-child(2n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 980px) {
    .product {
        width: 31%;
        margin-right: 3.5%;
    }
    .product:nth-child(2n) {
        margin-right: 3.5%;
    }
    .product:nth-child(3n) {
        margin-right: 0;
    }
}