.stories{

    width: 29%;
    position: relative;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

    }

    &__img{
        width: 100%;
        top: 0;
        transform: translate(8%, 10%);
        box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);

        &__container{
            width: 92%;
            background: #ED1C25;
            border-radius: 40px;
            text-align: right;
            /* position: relative; */
        }
    }

    &__time-stamp{
       vertical-align: bottom; 
    }

    &__title{
        padding-top: 38px;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: normal;
        height: 70px;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-top: 26px;
    }
}